<h1>[Achieve] お問い合わせThanks!</h1>

<h4><%= @contact.name %>様</h4>
<div>
  下記内容を承りました。近日中に担当よりご連絡させていただきます。<br />See you soon!
</div>
<p>email: <%= @contact.email %></p>
<p>content: <%= @contact.content %></p>
