.wrapper {
  margin: 0px auto;
  padding: 20px 20px 20px 35px;
  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}

input[type="submit"].btn-block{
  margin: 15px 0;
}
/*************************************
MIXINS
*************************************/
@mixin vendor-prefix($name, $argument) {
  -webkit-#{$name}: #{$argument};
  -ms-#{$name}: #{$argument};
  -moz-#{$name}: #{$argument};
  -o-#{$name}: #{$argument};
  #{$name}: #{$argument};
}

.posted_user {
  color: #336699;
  padding-bottom: 20px;
  img {
    width: 50px;
    hight: 50px;
    @include vendor-prefix(border-radius, 50%);
  }
}
